
tr:nth-child(even) {background-color: #f8eeee;}
tr:nth-child(odd) {background-color: #ffffff;}
.notfound {
  color: forestgreen;
    font-size: 18px;
    margin-left: 50px;
}
/* .table-container {
      text-align: center;
    color: red;
    font-size: 15px;
} */
.corporates {
  width:100% !important;
}
.employessData{
height: 200px;
padding-top: 20px;
}
.corpo0 {
margin-left: 20% !important;
}
.plans {
  box-shadow: 1px;
}
.app-header{
  background-color: #f0f3f5 !important;
}
.corpbor {
border: 1px solid black;
}
.activeSelected {
  background-color: #efe3af !important;
  border: 1px solid black;
}
.selected {
  background-color: #efe3af !important;
  border: 4px solid yellow;
}
.col-xl-3 p  {
text-align: center !important;
    margin-top: 5px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 500 !important;
}
.closeactive {
  display: none !important;
}
.openActive {
  display: block !important;
}
.employeesstatus {
  background-color: #efe3af !important;
}
.listed0 {
margin-left: 93px !important;
}
.mindtree {
    width:100%;
    margin-right: 0px;
    text-align: center;
    margin-left: 130px;
    font-size: 35px;
    font-weight: bold;
}
.btn-primary {
background-color:green !important;
border: none !important;
}
.sidebar {
  background-color:green !important;
}
.nav-icon {
    color: white !important;
}

.sc-gqjmRU.IELxV:hover {
    /* background-color: rgba(0, 0, 0, 0.05); */
    color: #23282c;
    background-color: rgba(0, 0, 0, 0.075);
}
.sc-gqjmRU.IELxV:nth-of-type(odd) {
    /* background-color: gainsboro; */
    vertical-align: top;
    border-top: 1px solid #c8ced3;
    background-color: rgba(0, 0, 0, 0.05);
}
.eihZov {
    font-weight: bold;
    color: black;
        font-size: 0.875rem;
}
.bojDWV {
    border-top: 1px solid #c8ced3;
}
.cOaGrx {
    display: none !important;
}
.bILqDE {
    width: 150px !important;
}
.table-bordered  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3 !important;
}
.table-bordered tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid #c8ced3 !important;
}
.table-bordered tbody tr:hover {
    /* background-color: rgba(0, 0, 0, 0.05); */
    color: #23282c;
    background-color: rgba(0, 0, 0, 0.075);
}
.table-bordered tr th {
     font-weight: bold;
    color: black;
        font-size: 0.875rem;
        border: none !important;
}
.table-bordered td {
    border: none !important;
}
.react-bootstrap-table {
    border-top: 1px solid #c8ced3 !important;
}
.react-bs-table-sizePerPage-dropdown, .dropdown , .dropdown-menu {
    min-width: 10px !important;
}
.table-bordered {
    border: none !important;
}
 .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.react-bootstrap-table th .order > .dropup > .caret {
    margin: 10px 0;
    color: #cccccc;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
}

.fa-pencil-square-o, .fa-group, .fa-gift , .icon-speedometer, .icon-user, .fa-briefcase ,.fa-gift, .fa-bell-o, .icon-subscription , .fa-money, .fa-thumbs-up, .fa-user-secret, .fa-check-circle {
    color: white !important;
}

.sidebar .nav-link .nav-icon {
  color: #ffffff !important;
}
.scroll{
    height:330px;
    overflow-y:auto;
}
.btn-primary {
    background-color: rgb(205, 108, 32) !important;  
}
.card-header {
    color: black !important;
}
.sidebar .nav-link:hover {
   background-color: rgb(138, 105, 76) !important;
}
.sidebar .nav-link.active {
    background-color: rgb(166, 134, 106) !important;
}
.navbar-brand {
    width: 100%;
    text-align: center;
}
.input-group-text i {
  color : black !important;
}
.load {
  margin: auto;
  text-align: center;
}
.table img {
  border-radius: 6%;
}
.bg-white table td {
  padding: 8px !important;
    vertical-align: unset !important;
}
.dashboardSection {
 -webkit-flex: 0 0 16.66667%; 
 flex: 20% !important;
  max-width: 20% !important;
}
.clubname{
  width: 25%;
    background: #ccc;
    height: 27px;
    text-align: center;
}
.Username{
  width: 30%;
    background: #ccc;
    height: 27px;
    text-align: center;
}
.badge {
    padding: 0.6em 0.8em !important;
}
.highcharts-legend-item {
  display: none !important;
}
.clear-filter {
  display: none !important;
}
.header-row {
  padding-bottom: 15px !important;
}
.loader {
  text-align: center !important;
}
.record-count  {
  display: none !important;
}
.pull-lg-right {
  width: 35% !important;
  float: right !important;
}
.clubTd a {
  margin-left: 6px !important;
}

.pagination a:hover, .pagination .active a  {
  background-color: #337ab7 !important;
}
.pagination .active a {
    color: #fff !important;
}
.highcharts-xaxis-labels, .highcharts-xaxis {
  display: none !important;
}
.badge {
    padding: .6em .8em !important;
}

.filterable-table tr td:nth-child(3n+3) {
    width: 17%;
}
.box .box-inner {
    padding: 25px;
}
.box .analyticFeaturedContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.analyticFeaturedWrap {
    background: #ffffff;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 9px;
    transition: all 0.4s ease-in-out 0s;
}
.box-1 {
  width: 25% !important;
}
.box-2 {
  width: 25% !important;
}
.box-3 {
  width: 25% !important;
}
.box-4 {
  width: 25% !important;
}
.menuclass {
  margin-left: 20px !important;
  font-size: 18px;
}
.box img {
    max-width: 100%;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    bottom: 0;
    top: 0;
}
body .modalWrapper .modalFooter {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    border-top: 1px solid #f1f1f1;
    flex-wrap: wrap;
}
body .modalWrapper .modalTitle {
    background: #fafafa;
    padding: 20px 30px;
}
body .modalWrapper .modalFooter button:hover span {
    color: #3c54db !important;
}
body .modalWrapper .modalFooter button {
    margin-left: 10px;
    padding: 10px 30px;
    text-transform: capitalize;
    border: 2px solid transparent;
}
.bg-default {
    background: #3c54db !important;
}
body .modalWrapper .modalFooter button:hover {
    background: transparent !important;
    border: 2px solid #3c54db;
}